.layout-container {
    display: flex;
    height: 100vh;
    background: transparent;

}
.main-content {
    background: transparent;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #1e1f26;
    color: white;
    padding: 25px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.side-links a {
    display: block;
    margin: 12px 0;
    color: #dcdcdc;
    text-decoration: none;
    font-size: 16px;
}

.logout-btn {
    background: #ff5757;
    color: white;
    border: none;
    padding: 12px 0;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 4px;
}

/* MAIN AREA */

.main-content {
    flex: 1;
    padding: 0;
}


/* .topbar {
    background: white;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} */

.profile-icon {
    cursor: pointer;
    font-size: 26px;
    padding: 10px;
}

.dropdown-menu {
    position: absolute;
    right: 20px;
    top: 60px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown-menu a,
.dropdown-menu button {
    padding: 8px 12px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

/* PAGE CONTENT */
.page-area {
    padding: 25px;
    overflow-y: auto;
}
