html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", "Segoe UI", sans-serif;
}

.landing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #5a63f1, #48b6ff);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}

/* Buttons */
.nav-actions button {
  margin-left: 15px;
  padding: 12px 26px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.nav-login {
  background: white;
  color: #4c52f7;
  font-weight: bold;
}

.nav-register {
  background: #ffcf4a;
  color: black;
  font-weight: bold;
}

/* Hero section */
.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 60px;
  min-height: 70vh;
}

.hero-left {
  flex: 1.3;
}

.hero-title {
  font-size: 64px;
  font-weight: 800;
  padding-left: 450px;
  margin-bottom: 20px;
  white-space: nowrap; /* FORCES single line */
}

.hero-text {
  font-size: 22px;
  line-height: 1.6;
  max-width: 900px;
  padding-left: 450px;
  margin-bottom: 40px;
}

.center-container{
    padding-left: 750px;
  margin-bottom: 20px;
}
.hero-btn {
  background: white;
  color: #2025ad;
  padding: 16px 34px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

/* Image */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}



/* Footer */
.footer {
  text-align: center;
  padding: 22px;
  font-size: 18px;
  opacity: 0.9;
}
